n8n/workflows/WF1-reception-demande.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tenuepro-devis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c06f828d-a9d2-4164-98d4-be191bba8d41",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -448,
        112
      ],
      "webhookId": "66ecd407-0918-43b5-9280-a4c8637062fc"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.contact_email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.contact_name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1ca708ef-7809-4b25-a322-09d3d2a166e3",
      "name": "Valider donnees",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mqkrniiktvnuqzlvrfib.supabase.co/rest/v1/quote_requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xa3JuaWlrdHZudXF6bHZyZmliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NzIxOTksImV4cCI6MjA5MTI0ODE5OX0.XKPT0Ke0qLb8AQ5zi1lE9f-_Zh9uhFdTDctObOWeeso"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xa3JuaWlrdHZudXF6bHZyZmliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTY3MjE5OSwiZXhwIjoyMDkxMjQ4MTk5fQ.GniLy8K7FWeI4jzK-A-9CIznqdpVHQqMWa-py_bXw3A"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contact_name",
              "value": "={{ $json.contact_name }}"
            },
            {
              "name": "contact_email",
              "value": "={{ $json.contact_email }}"
            },
            {
              "name": "contact_phone",
              "value": "={{ $json.contact_phone }}"
            },
            {
              "name": "company_name",
              "value": "={{ $json.company_name }}"
            },
            {
              "name": "siret",
              "value": "={{ $json.siret }}"
            },
            {
              "name": "sector",
              "value": "={{ $json.sector }}"
            },
            {
              "name": "products",
              "value": "={{ $json.products }}"
            },
            {
              "name": "quantity",
              "value": "={{ $json.quantity }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "deadline",
              "value": "={{ $json.deadline }}"
            },
            {
              "name": "status",
              "value": "new"
            }
          ]
        },
        "options": {}
      },
      "id": "a7f83108-05f1-46bf-aeb5-b49eaa042587",
      "name": "Insérer dans Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gHx4ZIdDBHqOMCWh",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1294618163",
        "text": "=🆕 Nouvelle demande de devis !\n\n👤 Nom : {{ $('Webhook').item.json.contact_name }}\n🏢 Société : {{ $('Webhook').item.json.company_name }}\n📦 Produits : {{ $('Webhook').item.json.products }}\n📊 Quantité : {{ $('Webhook').item.json.quantity }}\n📅 Délai : {{ $('Webhook').item.json.deadline }}\n📧 Email : {{ $('Webhook').item.json.contact_email }}\n📞 Tél : {{ $('Webhook').item.json.contact_phone }}\n\n🔗 Voir dans Supabase : https://supabase.com/dashboard/project/rtrkshbrvyrlrdpkwosv",
        "additionalFields": {}
      },
      "id": "2c1a2714-b65d-4db8-8b48-e70112c9b653",
      "name": "Notification Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "webhookId": "fb4e1def-02d9-43a6-900c-6b9e2e6f8018",
      "credentials": {
        "telegramApi": {
          "id": "UsHenkPKSoZsRK75",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@tenuepro.re",
        "toEmail": "={{ $('Webhook').item.json.contact_email }}",
        "subject": "Votre demande de devis TenuePro a bien été reçue",
        "text": "=Bonjour {{ $('Webhook').item.json.contact_name }},\n\nNous avons bien reçu votre demande de devis pour {{ $('Webhook').item.json.quantity }} {{ $('Webhook').item.json.products }}.\n\nNotre équipe revient vers vous sous 24h avec votre devis personnalisé.\n\nÀ très bientôt,\nL'équipe TenuePro\n0692 10 52 17\nwww.tenuepro.re",
        "options": {}
      },
      "id": "e3a0bf5f-0983-4faa-880b-fa78ec94092b",
      "name": "Email confirmation client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "webhookId": "03366922-1341-4ce8-a195-fddb45db705c",
      "credentials": {
        "smtp": {
          "id": "ez3l3j2LEdWnQniP",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Demande enregistrée\" }",
        "options": {}
      },
      "id": "a7f6e414-24d8-4b79-be4b-b14b28572752",
      "name": "Réponse webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Données manquantes\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "90bbcdbf-e103-4cc4-85a6-916a18139e04",
      "name": "Erreur validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        224
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Valider donnees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valider donnees": {
      "main": [
        [
          {
            "node": "Insérer dans Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erreur validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insérer dans Supabase": {
      "main": [
        [
          {
            "node": "Notification Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification Telegram": {
      "main": [
        [
          {
            "node": "Email confirmation client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email confirmation client": {
      "main": [
        [
          {
            "node": "Réponse webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11f3f5daff577f57ecd846abf3b10002135106985f0b51d4128785eaf9a1ca35"
  }
}