n8n/workflows/WF1-reception-demande.json
{
  "name": "TenuePro — WF1 Réception Demande de Devis",
  "active": false,
  "id": "wf1-tenuepro-reception",
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "TenuePro" }],
  "nodes": [
    {
      "id": "wf1-n01",
      "name": "Webhook Reception",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "tenuepro-devis",
      "parameters": {
        "httpMethod": "POST",
        "path": "tenuepro-devis",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      }
    },
    {
      "id": "wf1-n02",
      "name": "Valider les données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nconst hasName  = item.contact_name  && item.contact_name.trim() !== '';\nconst hasEmail = item.contact_email && emailRegex.test(item.contact_email.trim());\n\nreturn [{\n  json: {\n    ...item,\n    contact_name:  item.contact_name?.trim()  || '',\n    contact_email: item.contact_email?.trim() || '',\n    company_name:  item.company_name?.trim()  || '',\n    siret:         item.siret?.replace(/\\s/g, '') || '',\n    products:      Array.isArray(item.products) ? item.products : [item.products].filter(Boolean),\n    quantity:      parseInt(item.quantity) || null,\n    isValid:       hasName && hasEmail,\n    errorMessage:  !hasName  ? 'contact_name requis' :\n                   !hasEmail ? 'contact_email invalide' : null\n  }\n}];"
      }
    },
    {
      "id": "wf1-n03",
      "name": "Données valides ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.isValid }}", "value2": true }]
        }
      }
    },
    {
      "id": "wf1-n04",
      "name": "Enrichissement SIRET",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 180],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "=https://api.insee.fr/api-sirene/3.11/siret/{{ $json.siret || '00000000000000' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.INSEE_API_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      }
    },
    {
      "id": "wf1-n05",
      "name": "Fusionner données SIRET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 180],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const formData  = $('Valider les données').first().json;\nconst siretResp = $input.first().json;\n\nlet siretData = {};\ntry {\n  const et = siretResp?.etablissement;\n  if (et) {\n    siretData = {\n      siret_raison_sociale: et.uniteLegale?.denominationUniteLegale || '',\n      siret_adresse:        [et.adresseEtablissement?.numeroVoieEtablissement,\n                             et.adresseEtablissement?.typeVoieEtablissement,\n                             et.adresseEtablissement?.libelleVoieEtablissement].filter(Boolean).join(' '),\n      siret_code_ape:       et.uniteLegale?.activitePrincipaleUniteLegale || '',\n      siret_forme_juridique: et.uniteLegale?.categorieJuridiqueUniteLegale || '',\n    };\n  }\n} catch(e) { /* SIRET invalide ou absent — on continue */ }\n\nreturn [{ json: { ...formData, ...siretData } }];"
      }
    },
    {
      "id": "wf1-n06",
      "name": "Insérer dans Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/quote_requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "contact_name":    "={{ $json.contact_name }}",
          "contact_email":   "={{ $json.contact_email }}",
          "contact_phone":   "={{ $json.contact_phone }}",
          "company_name":    "={{ $json.company_name }}",
          "siret":           "={{ $json.siret }}",
          "sector":          "={{ $json.sector }}",
          "products":        "={{ $json.products }}",
          "quantity":        "={{ $json.quantity }}",
          "description":     "={{ $json.description }}",
          "deadline":        "={{ $json.deadline }}",
          "logo_url":        "={{ $json.logo_url }}",
          "status":          "new",
          "source":          "website"
        }
      }
    },
    {
      "id": "wf1-n07",
      "name": "Notification Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 180],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🆕 <b>Nouvelle demande de devis !</b>\n\n👤 <b>Nom :</b> {{ $('Valider les données').first().json.contact_name }}\n🏢 <b>Société :</b> {{ $('Valider les données').first().json.company_name || 'Non renseigné' }}\n📋 <b>SIRET :</b> {{ $('Valider les données').first().json.siret || 'Non renseigné' }}\n📦 <b>Produits :</b> {{ $('Valider les données').first().json.products.join(', ') }}\n📊 <b>Quantité :</b> {{ $('Valider les données').first().json.quantity || 'Non précisé' }}\n📅 <b>Délai :</b> {{ $('Valider les données').first().json.deadline || 'Non précisé' }}\n📧 <b>Email :</b> {{ $('Valider les données').first().json.contact_email }}\n📞 <b>Tél :</b> {{ $('Valider les données').first().json.contact_phone || 'Non renseigné' }}\n\n🆔 <b>ID Supabase :</b> <code>{{ $json[0]?.id || 'Voir Supabase' }}</code>\n🔗 <a href=\"https://supabase.com/dashboard/project/rtrkshbrvyrlrdpkwosv/editor\">Voir dans Supabase</a>",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "credentials": {
        "telegramApi": { "id": "telegram-cred-1", "name": "Telegram TenuePro" }
      }
    },
    {
      "id": "wf1-n08",
      "name": "Email confirmation client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1780, 180],
      "parameters": {
        "fromEmail": "={{ $env.SMTP_USER }}",
        "fromName":  "TenuePro",
        "toEmail":   "={{ $('Valider les données').first().json.contact_email }}",
        "subject":   "=Votre demande de devis TenuePro a bien été reçue",
        "emailType": "html",
        "message":   "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\">\n  <div style=\"background:#7C3AED;padding:24px;text-align:center;\">\n    <h1 style=\"color:white;margin:0;font-size:22px;\">TenuePro</h1>\n    <p style=\"color:rgba(255,255,255,0.8);margin:4px 0 0;\">Broderie & Flocage professionnel à La Réunion</p>\n  </div>\n  <div style=\"padding:32px;background:#fff;\">\n    <p style=\"font-size:16px;\">Bonjour <strong>{{ $('Valider les données').first().json.contact_name }}</strong>,</p>\n    <p>Nous avons bien reçu votre demande de devis pour :</p>\n    <ul style=\"background:#f9f9f9;padding:16px 24px;border-radius:8px;\">\n      <li><strong>Produits :</strong> {{ $('Valider les données').first().json.products.join(', ') }}</li>\n      <li><strong>Quantité estimée :</strong> {{ $('Valider les données').first().json.quantity || 'Non précisé' }}</li>\n      <li><strong>Délai souhaité :</strong> {{ $('Valider les données').first().json.deadline || 'Non précisé' }}</li>\n    </ul>\n    <p style=\"margin-top:24px;\">Notre équipe analyse votre projet et vous revient avec une <strong>maquette gratuite et un devis personnalisé sous 24 heures</strong>.</p>\n    <p>N'hésitez pas à nous contacter si vous avez des questions :</p>\n    <p style=\"font-size:16px;\"><strong>📞 {{ $env.TENUEPRO_PHONE }}</strong><br>📧 contact@tenuepro.re</p>\n    <p style=\"margin-top:32px;\">À très bientôt,<br><strong>L'équipe TenuePro</strong></p>\n  </div>\n  <div style=\"background:#f1f1f1;padding:16px;text-align:center;font-size:12px;color:#888;\">\n    TenuePro — Broderie & Flocage — La Réunion | Intervention sur toute l'île\n  </div>\n</div>",
        "options": {}
      },
      "credentials": {
        "smtp": { "id": "smtp-cred-1", "name": "SMTP TenuePro" }
      }
    },
    {
      "id": "wf1-n09",
      "name": "Réponse succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 180],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Demande enregistrée. Vous recevrez votre devis sous 24h.\" }",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "wf1-n10",
      "name": "Réponse erreur validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 440],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.errorMessage || 'Données invalides' }) }}",
        "options": { "responseCode": 400 }
      }
    }
  ],
  "connections": {
    "Webhook Reception": {
      "main": [[{ "node": "Valider les données", "type": "main", "index": 0 }]]
    },
    "Valider les données": {
      "main": [[{ "node": "Données valides ?", "type": "main", "index": 0 }]]
    },
    "Données valides ?": {
      "main": [
        [{ "node": "Enrichissement SIRET",      "type": "main", "index": 0 }],
        [{ "node": "Réponse erreur validation",  "type": "main", "index": 0 }]
      ]
    },
    "Enrichissement SIRET": {
      "main": [[{ "node": "Fusionner données SIRET", "type": "main", "index": 0 }]]
    },
    "Fusionner données SIRET": {
      "main": [[{ "node": "Insérer dans Supabase", "type": "main", "index": 0 }]]
    },
    "Insérer dans Supabase": {
      "main": [[{ "node": "Notification Telegram", "type": "main", "index": 0 }]]
    },
    "Notification Telegram": {
      "main": [[{ "node": "Email confirmation client", "type": "main", "index": 0 }]]
    },
    "Email confirmation client": {
      "main": [[{ "node": "Réponse succès", "type": "main", "index": 0 }]]
    }
  }
}
