n8n/workflows/WF5-notification-statut.json
{
  "name": "WF5 - Notification Changement Statut Commande",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tenuepro-statut-change",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook statut",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const labels = {\n  'demande_recue':'Demande reçue',\n  'devis_envoye':'Devis envoyé',\n  'devis_valide':'Devis validé',\n  'maquette_preparation':'Maquette en préparation',\n  'maquette_validee':'Maquette validée',\n  'en_production':'En production',\n  'expediee':'Expédiée / Prête',\n  'livree':'Livrée',\n  'annulee':'Annulée',\n  'new':'Nouvelle demande',\n  'processing':'En cours de traitement',\n  'quoted':'Devis envoyé',\n  'closed':'Clôturée'\n};\nconst d = $input.first().json;\nreturn [{json:{...d, status_label: labels[d.new_status]||d.new_status}}];"
      },
      "id": "2",
      "name": "Formatter statut",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{ $json.client_email }}", "operation": "isNotEmpty"}
          ]
        }
      },
      "id": "3",
      "name": "Email client existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "1294618163",
        "text": "=📦 Commande {{ $json.order_number || $json.quote_number || 'N/A' }} mise à jour !\n\n👤 Client : {{ $json.client_name }}\n📊 Nouveau statut : {{ $json.status_label }}\n📝 Note : {{ $json.note || 'Aucune' }}\n📧 Email : {{ $json.client_email }}",
        "additionalFields": {}
      },
      "id": "4",
      "name": "Telegram admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "telegramApi": {
          "id": "UsHenkPKSoZsRK75",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@tenuepro.re",
        "toEmail": "={{ $json.client_email }}",
        "subject": "=Votre commande TenuePro — {{ $json.status_label }}",
        "text": "=Bonjour {{ $json.client_name }},\n\nVotre dossier TenuePro vient d'être mis à jour.\n\n📊 Statut actuel : {{ $json.status_label }}\n{{ $json.note ? 'Note : ' + $json.note : '' }}\n\nRetrouvez le suivi dans votre espace client :\nhttps://www.tenuepro.re/espace-client\n\nCordialement,\nL'équipe TenuePro — 0692 10 52 17",
        "options": {}
      },
      "id": "5",
      "name": "Email client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 400],
      "credentials": {
        "smtp": {
          "id": "ez3l3j2LEdWnQniP",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "id": "6",
      "name": "Reponse",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook statut": {"main": [[{"node": "Formatter statut", "type": "main", "index": 0}]]},
    "Formatter statut": {"main": [[{"node": "Email client existe", "type": "main", "index": 0}]]},
    "Email client existe": {
      "main": [
        [{"node": "Telegram admin", "type": "main", "index": 0}, {"node": "Email client", "type": "main", "index": 0}],
        [{"node": "Telegram admin", "type": "main", "index": 0}]
      ]
    },
    "Telegram admin": {"main": [[{"node": "Reponse", "type": "main", "index": 0}]]},
    "Email client": {"main": [[{"node": "Reponse", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
